<!-- Custom Header -->
<div class="absolute top-0 left-0 inset-0 w-full h-24 lg:shadow bg-primary z-999 text-gray-200">
    <div class="flex flex-row justify-between w-full h-full">
        <!--         
        <div class="max-w-24 p-2 items-baseline">
            <img class="w-full" src="assets/images/logo/oag/logo-w-th.png">
        </div>
        <div class="">
            สำนักงานการตรวจเงินแผ่นดิน
        </div> -->
        <div class="flex flex-row justify-end space-x-1">
            <div class="flex max-w-24 p-3">
                <img src="assets/images/logo/oag/logo-w-th.png">
            </div>
            <div class="hidden sm:flex flex-col place-self-center text-left">
                <div class="text-2xl font-extralight tracking-widest">สำนักงานการตรวจเงินแผ่นดิน</div>
                <div class="text-lg font-extralight tracking-tight -mt-1.5">
                    <div>State Audit Office of the Kingdom of Thailand</div>
                </div>
            </div>
            <div class="hidden md:flex max-w-24 p-3">
                <img src="assets/images/cover/group.png">
            </div>
            <div class="hidden md:flex flex-col place-self-center text-left">
                <div class="font-light leading-tight text-oag-primary-yellow">
                    <div class="text-3xl tracking-widest">ระบบตรวจสอบผลสัมฤทธิ์</div>
                    <div class="text-xl tracking-tight">และประสิทธิภาพการดำเนินงาน</div>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-end space-x-3 items-center mx-3">
            <notifications></notifications>
            <div class="flex">
                <div class="text-2xl tracking-widest">
                    User ID - Role : log
                </div>
            </div>
            <!-- <user></user> -->
        </div>
    </div>
</div>

<!-- Loading bar -->
<fuse-loading-bar class="mt-24"></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation class="dark bg-gray-900 print:hidden mt-24" [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'" [navigation]="navigation.default" [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- User -->
        <!-- <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img class="w-full h-full rounded-full" *ngIf="user && user.avatar" [src]="user.avatar" alt="User avatar">
                <mat-icon class="icon-size-24" *ngIf="user && !user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div
                    class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div
                    class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div> -->
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-32 pr-6 pl-2 mt-2 mb-4 opacity-20">
            <img class="max-w-36" src="assets/images/cover/group_11427.png">
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0 mt-24">
    <!-- Header -->
    <div
        class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 print:hidden">
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <div class="flex flex-0 h-full mx-4 items-center">
            <breadcrumb></breadcrumb>
        </div>
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <!--<div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Fuse &copy; {{currentYear}}</span>
    </div>-->

</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->