<div class="flex flex-row text-xl text-secondary space-x-2">
    <span>การนำทาง :</span>
    
    <div class="flex flex-wrap items-center font-medium gap-2">

        <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last;">
            <div>
                <a class="whitespace-nowrap text-primary-500" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
            </div>
            <div *ngIf="!last">
                <a class="whitespace-nowrap">></a>
            </div>
        </ng-container>

    </div>
</div>