<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="absolute top-1/2 right-1/3 transform translate-x-1/2 -translate-y-1/2 w-200 h-200 z-10 opacity-70 md:bg-[url('assets/images/cover/group.png')] bg-center bg-no-repeat">
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-4 lg:px-16 overflow-hidden dark:border-r sm:bg-[url('assets/images/cover/city.jpg')] bg-no-repeat bg-cover">

        <div class="absolute w-full h-full bg-gradient-to-b from-transparent via-85% via-oag-gradient-lightblue to-oag-gradient-blue">

        </div>
        
        <div class="z-20 relative w-full max-w-6xl -mt-24 text-right">
            <div class="text-7xl font-light leading-tight text-oag-primary-yellow">
                <div>ระบบตรวจสอบผลสัมฤทธิ์</div>
                <div>และประสิทธิภาพการดำเนินงาน</div>
            </div>

            <div class="text-4xl font-extralight leading-tight text-gray-200 mt-8">
                <div>โครงการพัฒนา</div>
            </div>

            <div class="text-7xl font-light leading-tight text-gray-200">
                <div>การตรวจเงินแผ่นดินอิเล็กทรอนิกส์</div>
                <div>แบบบูรณาการ</div>
            </div>

            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-200">
                <div class="w-full">
                    <div class="flex flex-row justify-end gap-2">
                        <div class="flex w-16">
                            <img src="assets/images/logo/oag/logo-w-th.png">
                        </div>
                        <div class="flex flex-col place-self-center text-left">
                            <div class="text-xl font-extralight tracking-widest">สำนักงานการตรวจเงินแผ่นดิน</div>
                            <div class="text-md font-light tracking-tight -mt-1.5">
                                <div>State Audit Office of the Kingdom of Thailand</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute right-0 bottom-0 mt-6 text-sm tracking-tight leading-6 text-gray-200 hidden md:flex flex-auto items-center justify-center p-4 lg:px-16">
            <div class="w-full font-extralight">
                ©2566 สำนักงานการตรวจเงินแผ่นดิน
            </div>
        </div>

    </div>
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/3 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card sm:bg-[url('assets/images/cover/1971.png')] bg-no-repeat bg-center bg-cover">

        <div class="w-full max-w-96 sm:w-96 mx-auto sm:mx-0 z-20">
            
            <!-- Logo -->
            <div class="w-full">
                <div class="flex flex-row gap-2">
                    <div class="flex w-16">
                        <img src="assets/images/logo/oag/logo-th.png">
                    </div>
                    <div class="flex flex-col w-full place-self-center">
                        <div class="text-xl font-extralight tracking-normal md:tracking-widest">สำนักงานการตรวจเงินแผ่นดิน</div>
                        <div class="text-md font-light tracking-normal md:tracking-tight -mt-1.5">
                            <div>State Audit Office of the Kingdom of Thailand</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Title -->
            <div class="mt-4 text-lg font-light tracking-tight leading-tight text-primary-950">เข้าสู่ระบบ</div>
            <div class="flex text-sm mt-0.5 font-extralight text-primary-950">
                <div>กรอกชื่อผู้ใช้งานและรหัสผ่านเพื่อเริ่มต้นใช้งาน</div>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <!-- Username field -->
                <mat-form-field class="w-full">
                    <mat-label class="text-md font-medium">ชื่อผู้ใช้งาน</mat-label>
                    <input id="username" matInput placeholder="กรอกชื่อผู้ใช้งาน" [formControlName]="'username'">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        จำเป็นต้องกรอกข้อมูลผู้ใช้งาน
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label class="text-md font-medium">รหัสผ่าน</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>
                        จำเป็นต้องกรอกรหัสผ่าน
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-4 rounded-none" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.disabled" (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        เข้าสู่ระบบ
                    </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Actions -->
                <div class="inline-flex items-center justify-between w-full mt-2">
                    <a class="text-md font-medium hover:underline" [routerLink]="['/sign-in']">คู่มือการใช้งาน
                    </a>
                    <a class="text-md font-medium hover:underline" [routerLink]="['/forgot-password']">ลืมรหัสผ่าน
                    </a>
                </div>

                <!-- Separator -->
                <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <!-- Single sign-on buttons -->
                <div class="flex flex-col mt-12 bottom-0">
                    <span>ติดต่อสอบถาม</span>
                    <span>โทรศัพท์ 02 271 8000 E-mail : sarabun@oag.go.th</span>
                </div>
            </form>
        </div>
    </div>
</div>