<div class="flex flex-col flex-auto min-w-0 px-4">

    <div
        class="bg-white relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div class="text-4xl font-extrabold tracking-tight">ผู้ใช้</div>

        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'ค้นหาผู้ใช้'">
            </mat-form-field>

            <button class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">เพิ่ม</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 rounded-2xl">

            <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">รายการผู้ใช้</div>
                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                    <table class="w-full bg-transparent" mat-table [dataSource]="userDataSource" [@slideInTop]="false"
                        [trackBy]="trackByFn" #userTable matSort matSortDisableClear>

                        <ng-container matColumnDef="userId">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                ไอดีผู้ใช้
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{user.userId}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="username">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                ผู้ใช้
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <span class="pr-6 whitespace-nowrap">
                                    {{user.username}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                ชื่อ
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <span class="pr-6 whitespace-nowrap truncate">
                                    {{user.firstName}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdBy">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                สร้างโดย
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <span class="pr-6 whitespace-nowrap">
                                    {{user.createdBy}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                สร้างเมื่อวันที่
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <span class="pr-6 whitespace-nowrap">
                                    {{user.createdAt | date:'MMM dd, y'}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="lastLogin">
                            <th mat-header-cell *matHeaderCellDef>
                                เข้าสู่ระบบล่าสุด
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <span class="pr-6 whitespace-nowrap">
                                    <ng-container *ngIf="user.lastLogin; else neverLogin">
                                        {{ user.lastLogin | timeAgo }}
                                    </ng-container>
            
                                    <ng-template #neverLogin>
                                        <span class="font-extralight italic text-gray-300">ไม่เคย</span>
                                    </ng-template>

                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let user">
                                <div>
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                        [routerLink]="[ './', user.userId ]">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="userTableColumns"></tr>
                        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: userTableColumns;"></tr>
                    </table>
<!-- 
                    <mat-paginator
                        class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                        [pageIndex]="pagination.page" [pageSize]="pagination.size" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true" (page)="onPageChange($event)"></mat-paginator>
 -->
                </div>
            </div>
        </div>

    </div>

</div>